Exercise Question 1: Given a Python list you should be able to display Python list in the following order

In [5]:
L = [100, 200, 300, 400, 500]

L[::-1]

[500, 400, 300, 200, 100]

Exercise Question 2: Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = []
for i, j in (zip(list1,list2)):
    b = i + j
    list3.append(b)
    
print(list3)

Exercise Question 3: Given a Python list. Turn every item of a list into its square

In [20]:
L = [1, 2, 3, 4, 5, 6, 7]

for i in range (len(L)):
    L[i] = L[i]**2
print(L)

[1, 4, 9, 16, 25, 36, 49]

In [21]:
L = [1, 2, 3, 4, 5, 6, 7]

L =  [x * x for x in L]
print(L)

[1, 4, 9, 16, 25, 36, 49]

Exercise Question 4: Concatenate two lists in the following order
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]

In [27]:
l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]

l3 = [i+j for i in l1 for j in l2]
print(l3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Exercise Question 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [32]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

j = list2[::-1]

for i,j in zip(list1,j):
    print(i,j)

10 400
20 300
30 200
40 100

Exercise Question 6: Remove empty strings from the list of strings

In [37]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

for i in list1:
    if i == "":
        list1.remove(i)
    
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [38]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
resList = list(filter(None, list1))
print(resList)

['Mike', 'Emma', 'Kelly', 'Brad']

Exercise Question 7: Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [70]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]    

list1[2][2].append(7000) 
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise Question 8: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [78]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

l = ["h", "i", "j"]
list1[2][1][2].extend(l)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Exercise Question 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [82]:
list1 = [5, 10, 15, 20, 25, 50, 20]

for i in range (len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [83]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

Exercise Question 10: Given a Python list, remove all occurrence of 20 from the list

In [88]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
    if i == 20:
        list1.remove(i)
        
print(list1)

[5, 15, 25, 50]

In [95]:
list1 = [5, 20, 15, 20, 25, 50, 20]

list2 = [value for value in list1 if value != 20]
print(list2)

[5, 15, 25, 50]