#Print unique rows in a given boolean matrix using Set with tuples

Input:
    mat = [[0, 1, 0, 0, 1],
             [1, 0, 1, 1, 0],
             [0, 1, 0, 0, 1],
             [1, 1, 1, 0, 0]]
Output:
          (1, 1, 1, 0, 0)
          (0, 1, 0, 0, 1)
          (1, 0, 1, 1, 0)

In [49]:
mat = [[0, 1, 0, 0, 1], [1, 0, 1, 1, 0], [0, 1, 0, 0, 1], [1, 1, 1, 0, 0]]

inputs = set(map(tuple, mat))

for i in list(inputs):
    print(i)

(1, 1, 1, 0, 0)
(0, 1, 0, 0, 1)
(1, 0, 1, 1, 0)

Python Dictionary to find mirror characters in a string

Input : N = 3
        paradox
Output : paizwlc

In [71]:
char = 'paradox'
k = 3

original = 'abcdefghijklmnopqrstuvwxyz'
reverse = 'zyxwvutsrqponmlkjihgfedcba'
dictChars = dict(zip(original,reverse))

prefix = char[0:k-1] 
suffix = char[k-1:] 
mirror = ''
  
for i in range(0,len(suffix)): 
    mirror = mirror + dictChars[suffix[i]] 
  
    # concat prefix and mirrored part 
print (prefix+mirror)

paizwlc

#Generate two output strings depending upon occurrence of character in input string in Python
Input : str = "geeksforgeeks"
Output : String with characters occurring once:
"for".
String with characters occurring multiple times:
"egks"

In [108]:
Str = input("Enter the string:")

Dict = {}
a = ""
b = ""

for x in Str:
    Dict[x] = Str.count(x)    #can use this to find the count "from collections import Counter"  

for m,n in Dict.items():
    if n % 2 == 0:
        a = a + m
    elif n % 2 == 1:
        b = b + m
        
print(a)
print(b)

Enter the string:geeksforgeeks
geks
for

#Reversing a Tuple

Input : tuples = ('z','a','d','f','g','e','e','k')

In [118]:
t = ('z','a','d','f','g','e','e','k')

print(t[::-1])

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [134]:
t = ('z','a','d','f','g','e','e','k')

l = []

for i in list(t):
    l.insert(0,i)
    
print(tuple(l))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

Count occurrences of an element in a Tuple

Tuple: (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [6]:
T = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

Input = int(input("Enter the number:"))
count = 0

for i in T:
    if Input == i:
        count += 1
        
print(count,'time')

Enter the number:4
0 time

Count the elements in a list until an element is a Tuple

In [13]:
#I = [4, 5, 6, 10, (1, 2, 3), 11, 2, 4]
I = [4, (5, 6), 10, (1, 2, 3), 11, 2, 4]

element = 0
for x in I:
    if type(x) == str:
        element += 1
    elif type(x) == tuple:
        print(I.index(x))
        break

1

Python | Sort a tuple by its float element

Input : tuple = [('lucky', '18.265'), ('nikhil', '14.107'), 
                  ('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')]
Output : [('akash', '24.541'), ('lucky', '18.265'), 
          ('nikhil', '14.107'), ('gaurav', '10.365'), ('anand', '4.256')]

In [77]:
def Sort(tup): 
    tup.sort(key = lambda x: float(x[1]), reverse = True) 
    print(tup)
    
    
tup = [('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'),('anand', '4.256'), ('gaurav', '10.365')] 
Sort(tup)

[('akash', '24.541'), ('lucky', '18.265'), ('nikhil', '14.107'), ('gaurav', '10.365'), ('anand', '4.256')]